<div class="container-fluid" style="padding: 0px">
  <div class="row" style="border: 0px 1px rgb(228, 219, 219) solid;padding: 10px;">
    <div class="col-lg-12 col-md-12">
      <div class="col-lg-4">
        <h4>Upload CV</h4>
        <input class="btn btn-fill" type="file" value="Upload CV here"
        (change)="fileChangeEvent($event)" type="file" id="file">
      </div>
      <div class="col-lg-8">
        <div style="width: 100%;height: 400px;overflow: auto;background-color: rgb(212, 211, 211);"
        class="card" title="View CV here">
            <pdf-viewer [src]="pathPDF" 
            [render-text]="true"
            style="display: block;"
            [original-size]="false"
            >
            </pdf-viewer>
        </div>
        <!-- <embed src="C:\fakepath\DCCT_TT_Cong_Nghiep.pdf" width="100%" height="400px" type="application/pdf" style="background-color: rgb(212, 211, 211)" class="card" title="View CV here"/> -->
      </div>
    </div>
  </div>
  <div class="row" style="border: 1px rgb(228, 219, 219) solid;padding: 10px;">
    <div class="col-lg-4 col-md-4">
      <h4>Information</h4>
    </div>
    <div class="col-lg-8 col-md-8">
      <div class="card">
        <div class="content">
          <!-- (submit)='onSignIn(formSignIn)' -->
          <form #formUpdate='ngForm'>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control border-input" placeholder="Name" 
                  name='name' required #txtname="ngModel"
                  [(ngModel)]="user.name">
                  <div *ngIf="txtname.invalid && (txtname.dirty || txtname.touched)"
                  class="alert alert-danger">
                    <div *ngIf="txtname.errors.required">
                      Name is required.
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Birth</label>
                  <input type="date" class="form-control border-input" placeholder="Birth" 
                  name="birth" [(ngModel)]="user.birth" #dtpbirth="ngModel"
                  required >
                  <div *ngIf="dtpbirth.invalid && (dtpbirth.dirty || dtpbirth.touched)"
                    class="alert alert-danger">
                    <div *ngIf="dtpbirth.errors.required">
                      BirthDay is required.
                    </div>
                  </div>
                  <div class="alert alert-danger" *ngIf="dtpbirth.valid&&validateDate(dtpbirth)">
                    BirthDay can not be the future.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Gender: </label>
                <div class="form-group radio-inline">
                  <label class="radio-inline">
                    <input type="radio" name="gender" required [(ngModel)]="user.gender" name="gender" value="Men">Men </label>
                  <label class="radio-inline">
                    <input type="radio" name="gender" required [(ngModel)]="user.gender" name="gender" value="Women">Women</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Adress</label>
                  <input type="text" class="form-control border-input" placeholder="Adress" 
                  [(ngModel)]='user.adress' name='adress'
                  required #txtadress="ngModel">
                </div>
                <div *ngIf="txtadress.invalid && (txtadress.dirty || txtadress.touched)"
                  class="alert alert-danger">
                    <div *ngIf="txtadress.errors.required">
                      Adress is required.
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control border-input" placeholder="Email" 
                  [(ngModel)]='user.email' name='email'
                  required email #txtemail="ngModel">
                  <div *ngIf="txtemail.invalid && (txtemail.dirty || txtemail.touched)"
                    class="alert alert-danger">
                    <div *ngIf="txtemail.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="txtemail.errors.email">
                      Please input a valid email.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Phone Number</label>
                  <input type="text" class="form-control border-input" placeholder="Phone Number" 
                  [(ngModel)]='user.phone' name='phone'
                  required #txtphone="ngModel" pattern='(09|01[2|6|8|9])+([0-9]{8})\b' > <!--pattern='/(09|01[2|6|8|9])+([0-9]{8})\b/g'-->
                  <div *ngIf="txtphone.invalid && (txtphone.dirty || txtphone.touched)"
                    class="alert alert-danger">
                    <div *ngIf="txtphone.errors.required">
                      Phone number is required.
                    </div>
                    <div *ngIf="txtphone.errors?.pattern">
                      Please input a valid phone number.
                    </div>
                    <!-- <code>{{test(txtphone)}}</code> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>User Name</label>
                  <input type="text" class="form-control border-input" placeholder="User Name" 
                  [(ngModel)]='user.username' name='username'
                  pattern="[a-zA-Z]*" #txtusername="ngModel"
                  required>
                  <div *ngIf="txtusername.invalid && (txtusername.dirty || txtusername.touched)"
                    class="alert alert-danger">
                    <div *ngIf="txtusername.errors.required">
                      UserName is required.
                    </div>
                    <div *ngIf="txtusername.errors.pattern">
                      UserName is [a-z,A-Z]
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Pass Word</label>
                  <input type="text" class="form-control border-input" placeholder="Pass Word" 
                  [(ngModel)]='user.password' name='password'
                  #txtpassword="ngModel" required pattern="[a-zA-Z]*">
                  <div *ngIf="txtpassword.invalid && (txtpassword.dirty || txtpassword.touched)"
                    class="alert alert-danger">
                    <div *ngIf="txtpassword.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="txtpassword.errors.pattern">
                      Password is [a-z,A-Z].
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Point Test</label>
                  <input type="number" class="form-control border-input" [(ngModel)]="user.point" name='point' disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Time Spent</label>
                  <input type="text" class="form-control border-input" ngModel name='timespent' disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Note: </label>
                  <textarea rows="5" class="form-control border-input" placeholder="Here can be your description"
                  [(ngModel)]="user.note" name='note'></textarea>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="formUpdate.invalid" (click)="upload()">Save</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
