<!DOCTYPE html>
<html>

<head>
    <title>Api Quiz</title>
    <!-- Needed for mobile sites to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background: url('../images/service.jpg') no-repeat; background-position:top">
</body>

</html>