<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2">
      <div style="padding:50px 0px 20px 70px;">
        <div *ngFor="let ques of arrAnwser;let i = index" class="row" style="margin: 2px 0px;">
          <a (click)="selectQues(i+1)">Câu {{i+1}} </a>
          <!-- [style.color]="i==0 ? 'red' : 'black'" -->
          <i [class]="ques.idanwser!='' ? 'glyphicon glyphicon-ok':''"></i>
        </div>
      </div>
      <div class="row" style="padding: 0px 60px">
          <button class="btn btn-info" (click)="checkResult()">Send result</button>
      </div>
      <!-- <div style="padding:20px 0px 0px 20px; " class="col-lg-5">
          <div *ngFor="let ques of arr;let i = index" [disabled]="true" class="row" style="margin: 10px 0px;">
            <div *ngIf="(i>=9)">Câu {{ques}}</div>
          </div>
        </div> -->
    </div>
    <div class="col-sm-8">
      <h4>
        <div style="float:left;">
          <span class="glyphicon glyphicon-question-sign" style="color:#5bc0de; font-size: 25px"></span>
          <b style="font-size: 30px">{{idNumQues}}</b> / 20</div>
        <div style="float:right">
          <span class="glyphicon glyphicon-time" style="color:#5bc0de; font-size: 25px"></span>
          <b style="font-size: 30px">{{timeSpent | timeClock}}</b> / 20:00
        </div>
      </h4>
      <div class="panel panel-default" style="clear:both; margin-top: 50px" *ngIf="ques.type=='doc'">
        <div class="panel-heading">
          <h4>
            <b>{{idNumQues + '. '+ ques.content}}</b>
          </h4>
        </div>
        <div class="panel-body">
          <div *ngFor="let item of ques.anwsers">
            <label for="item_{{item.content}}">
              <h4>
                <input id="item_{{item.content}}" type="radio" name="contentAnwser" [value]="item.idanwser" [(ngModel)]="selectAnwser">{{item.content}}
              </h4>
            </label>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" (click)="nextQuiz()" class="btn btn-info">
            <!--[routerLink]="resultC">*\-->
            <h4> Next</h4>
          </button>
        </div>
      </div>

      <div class="panel panel-default" style="clear:both; margin-top: 50px" *ngIf="ques.type=='img'||ques.type=='imgdoc'">
        <div class="panel-heading" style="max-height: 450px;margin: 0px;">
          <img [src]="ques.content" alt="" style="height: auto;width: 837.33px;max-height: 400px">
        </div>
        <div class="panel-body" style="max-height: 300px" *ngIf="ques.type=='img'">
          <tr style="max-width: 860px;">
            <td *ngFor="let item of ques.anwsers" style="padding-left: 30px">
              <input type="radio" [value]="item.idanwser" [(ngModel)]="selectAnwser">
              <img [src]='item.content' alt="" style="width: 138px;height: auto;">
            </td>
          </tr>
        </div>
        <div class="panel-body" *ngIf="ques.type=='imgdoc'">
          <div *ngFor="let item of ques.anwsers">
            <label for="item_{{item.content}}">
              <h4>
                <input id="item_{{item.content}}" type="radio" name="contentAnwser" [value]="item.idanwser" [(ngModel)]="selectAnwser">{{item.content}}
              </h4>
            </label>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" (click)="nextQuiz()" class="btn btn-info">
            <!--[routerLink]="resultC">*\-->
            <h4> Next</h4>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
